.footer.product{
    margin-top: 23px;
}
.footer{
    justify-content: space-between;
    background-color: #191919;
    height: 73px;
    border-radius: 6px;
    align-items: center;
    padding: 0 24px;
    color: #576067;
    &_icons{  
        display: flex;
        gap: 16px;
        .icon:hover{
            cursor: pointer;
            filter: invert(30%) sepia(90%) saturate(2265%) hue-rotate(253deg) brightness(89%) contrast(80%);
        } 
    }
}