.title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.card :active {
  cursor: default;
}

.card {
  cursor: pointer;
  min-width: 231px;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  height: 220px;
  background: #212123;
  border-radius: 8px;
}
.card-img_block {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: white;
}
.card-img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.card_info {
  padding: 0 12px 8px;
  height: 47%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.card_info_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card_info_bottom .price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #6c3eb8;
}
.card_info_bottom .old-price {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #576067;
}
.card_info_bottom > .df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card_info_bottom .people {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #576067;
}
.card-title {
  margin: 12px 0 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  box-orient: vertical;
}
.card-category {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #bbb;
}

.trending {
  border-radius: 6px;
  color: #fff;
  padding: 25px 22px;
  background-color: #191919;
  margin: 20px 0;
}
.trending .btn {
  display: block;
  margin: 0 auto;
}

.catalog::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d4d4d4;
}

.trending__items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d4d4d4;
}

.trending__items::-webkit-scrollbar {
  width: auto;
  height: 3.65px;
  background-color: #d4d4d4;
}

.catalog::-webkit-scrollbar {
  width: auto;
  height: 3.65px;
  background-color: #d4d4d4;
}

.catalog::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.trending__items::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.trending__items, .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  gap: 10px;
  width: 100%;
  margin-bottom: 24px;
}