.pagination_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: fit-content;
    gap: 4.3px;
    .btn{
        width: 33px;
        height: 25px;
        padding: 0;
    }
}
.pagination-x{
    overflow: hidden;
}
.trending__items.catalog::-webkit-scrollbar{
    width: 0;
    height: 0;
}