.pagination_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: fit-content;
  gap: 4.3px;
  .btn {
    width: 33px;
    height: 25px;
    padding: 0;
  }
}

.pagination-x {
  overflow-y: hidden;
  max-height: 450px;
}
.catalog::-webkit-scrollbar,
.pagination-x::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.catalog {
//   flex-wrap: wrap;
overflow: hidden;
@media (max-width: 1280px) {
      overflow-x: auto;
}
  max-height: 450px;
}
